name: "build-test"
on:
  push:
    branches:
      - master

jobs:
  build: 
    runs-on: self-hosted
    steps:
    - uses: actions/checkout@v1

    - name: Setup vswhere
      if: steps.cache-vswhere.outputs.cache-hit != 'true'
      uses: ./
      
    - name: Echo vswhere
      run: vswhere.exe